<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="header">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="aboutus.html">Home</a></li>
        <li><a href="login.html">LogIn</a></li>
        <li><a href="register.html">SignUp</a></li>
      </ul>

    </div>
    <div class="card">
      <h1>Welcome To MyHealth</h1>
      <p>Here you can search Nearby Hospitals,Clinics,Scan Centers, Pharmacies<br>
      And Book Appointments</p>

    </div>
    <div class="search">
      <p>Select Your Location:</p>
      <select class="location">
        <option>Malikipuram</option>
        <option>Razol</option>
        <option>Tatipaka</option>
        <option>Amalapuram</option>
        <option>Palakollu</option>
        <option>Narasapuram</option>
        <option>Bhimavaram</option>

      </select>
      <input type="text" placeholder="search Nearby Hospitals,Clinics,Scan Centers, Pharmacies">

    </div>


  </body>
</html>
